* {
  overflow-x: hidden;
}

body {
  background-color: #F1EFED;
}

h1 {
  margin-left: 200px;
  margin-right:200px;
  font-family: arial black;
	font-size: 50px;
  color: black;
  text-align: left;
}
h2 {
  margin-left: 200px;
  margin-right:200px;
  font-family: arial black;
	font-size: 30px;
  color: black;
  text-align: left;
}
h3 {
  margin-left: 200px;
  margin-right:200px;
  font-family: arial black;
	font-size: 20px;
  color: black;
  text-align: left;
}
h4 {
  margin-left: 200px;
  margin-right:200px;
  font-family: arial black;
  font-size: 20px;
  color: #E64415;
  text-align: left;
}
h8 {
  color: white;
  font-family: arial black;
	font-size: 30px;
  text-align: left;
  margin-left: 220px;
  margin-bottom: 30px;
  }
p {
  margin-left: 200px;
  margin-right:200px;
  font-family: sans-serif;
  font-size: 20px;
}
div {
  margin-top: 155px;
  margin-left: 200px;
  margin-right: 240px;
} 
hr  {
  color: #807E7B;
  border: 1px dotted;
  margin-left: 30px;
  margin-right: 30px;
}

/*testata mobile*/
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #E64415;
  z-index: 9999;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.header-fixed h1 a {
  display: block;
  text-align: center;
}
/*fascia dietro la testata */
.header-relative {
  position:absolute;
  margin: 0;
  height: 130px;
  width: 100%;
  background: white;
  border-bottom-color: rgba(255, 255, 255, 0.555);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header-fixed.resized {
  top: -75px;
}

.header-fixed.resized img {
  padding-top: 60px;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
}

img{
  margin-left: 45px;
  margin-right:45px;
  width: 1300px;
}